html, body{
  background-color: #282c34;
  font-family: 'Roboto', sans-serif;
}
.App {
  text-align: center;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

a {
  color: #61dafb;
}

@media (min-width: 320px) and (max-width: 480px) {

  h2 {
    font-size: 4vw;
  }
  p {
    font-size: 4vw;
  }

}
