html, body{
  background-color: #bfbfbf;
  font-family: 'Roboto', sans-serif;
}
.App {
  text-align: center;
  color: white;
}

.PaymentForm{
  display: flex;
  flex-direction: column;
    .Form{
      flex-direction: row;

    }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

a {
  color: #61dafb;
}
